<!doctype html>
<html lang="EN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://cdn.bootcdn.net/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/cssBtn.css">
    <title>OBS特效小插件</title>
</head>
<body>
    <!--div区域水平居中-->
    <div class="container height10">
        <div class="containerBox">
            <div class="alert alert-primary" role="alert">
                <h1>美化特效</h1>
            </div>
            <div id="moe-ca" class="row text">
                <div v-for="item in effs" class="col-md-3 ">
                    <div class="card mb-4 shadow-sm">
                        <a :href="['effects/'+item.pathName]"><img class="bd-placeholder-img card-img-top" :src="['effects/'+item.pathName+'/cover.png']" alt=""></a>
                        <div class="card-body">
                            <p><b>{{item.name}}</b></p>
                            <span v-for="p in item.intro" class="card-text">{{p}}</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-sm btn-outline-secondary" :href="['effects/'+item.pathName]">
                                        演示效果
                                    </a>
                                    <div @click="toReadme(item.name, 'effects/'+item.pathName+'/readme.md')" data-modal-effect="one" type="button" class="readme btn btn-sm btn-outline-secondary">
                                        使用说明
                                    </div>
                                </div>
                                <small class="text-muted">{{item.tag}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-container">
                    <div class="modal-background">
                        <div class="modal">
                            <div class="md-title">
                                <h1>{{ effectName }} 使用说明书</h1>
                            </div>
                            <div class="line"></div>
                            <div id="markdown-content" :data-readme=readme class="text-justify markdown-body"></div>
                            <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                                <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--导入外链JS-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
    <script src="static/js/vidbg.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/marked/1.1.1/marked.min.js"></script>
<!--    <script type="text/javascript" src="https://netrvin.github.io/PageGuard.js/pageguard.min.js"></script>-->

    <!--自定义JS-->
    <script src="static/js/vidbgmy.js"></script>
    <script src="static/js/vueMainer.js"></script>
    <script src="static/js/cssBtn.js"></script>
    <script src="static/js/markedmy.js"></script>
    <script>
        // var detect_key = PageGuard.detectDevTools(function () {
        //     // Your codes will run when developers tools is opening
        // });
    </script>
</body>
</html>
