.main-center {
    margin: 10% auto 0;
    /*background-color: #f0f0f0;*/
    padding: 5% 5%;
    border-radius: 10px
}
.height10 {
    margin-top: 10%;
    margin-bottom: 10%;
}
.text {
    padding-right: 15px;
    padding-left: 15px;
}

.containerBox {
    background-color: rgba(240,240,240,0.8);
    border-radius: 10px;
}

/* 卡片 */
.card {
    border: none;!important;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* markdown页内样式 */

#modal-container .md-title {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5px;
}
#markdown-content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 192, 203, 0.82);
    border-radius: 5px;
    padding: 2%;
}
.line {
    border-top: 4px solid #fcac45;
    /*height: 10px;*/
    /*width: 60px;*/
    /*text-align: center;*/
    /*margin: 0 auto;*/
    /*margin-top: 20px;*/
}
.markdown-body h1, .markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}
